<!DOCTYPE html>
<html>
    <head>
    <title>Send a sms</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" type="text/css" />
    </head>
    <body>
        <div class="container">
            <h2>Send SMS</h2>
            <input type="tel" name="number" id="number" placeholder="Enter phone no"/>
            <input type="text" name="msg" id="msg" placeholder="enter sms"/>
            <input type="button" id="button" value="send sms" clss="button button-primary"/>
            <p class="response"></p>
        </div>
        
        
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>
